<section id="home">
  <div id="home-content">
    <div id="title">
      <h1>PREPARE TO BE <span style="border-bottom:5px solid #4682B4;font-weight:700;">INSPIRED</span></h1>
      <h2>“If you can believe i<span style="letter-spacing:2px;">t,</span> the mind can achieve it.  ”<br>
           – Ronnie Lott
       </h2>
      
    </div>
  </div>
</section>
